[Unit]
Description=plotter_runner

[Service]
User=iot
ExecStart=/home/iot/anaconda3/bin/python /home/iot/Documents/CNS/app.py

[Install]
WantedBy=multi-user.target
