[Unit]
Description=cns_detection_63

[Service]
User=iot
WorkingDirectory=/home/iot/Documents/CNS/
ExecStart=/home/iot/anaconda3/bin/python /home/iot/Documents/CNS/cns_detection.py mb6 50 2000 63
Restart=on-failure

[Install]
WantedBy=multi-user.target
